@import '~utils/tokens';

.api-docs {
  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__cell {
    padding: 0.4rem;
    border: 1px solid $not-black;

    @media (prefers-color-scheme: dark) {
      border-color: gray;
    }
  }

  &__description {
    display: inline-block;
    width: 15rem;
  }

  &__method {
    display: inline-block;
    width: 3.4rem;
  }
}
