@import '~utils/tokens';

.page-container {
  &__container {
    display: flow-root;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow-x: scroll;

    @include bpk-breakpoint-tablet {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    &--debug {
      background-color: orange;

      @media (prefers-color-scheme: dark) {
        background-color: darkorange;
      }
    }

    &--regular {
      max-width: $page-max-width;
      padding-right: 2rem;
      padding-left: 2rem;
    }

    &--prose {
      max-width: $page-max-width-prose;
      padding-right: 2rem;
      padding-left: 2rem;
    }

    &--center {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
