@import '~utils/tokens';

.split-detail-view {
  &__outer {
    display: flex;
  }

  &__list-view {
    width: 50%;
    height: 100%;
    padding: $spacing-lg $spacing-base $spacing-lg 0;
    overflow: scroll;

    @include bpk-breakpoint-tablet {
      width: 100%;
      padding: 0;
    }
  }

  &__detail-view {
    width: 50%;
    height: 100%;
    padding: $spacing-lg 0 $spacing-lg $spacing-base;
    overflow: scroll;

    @include bpk-breakpoint-tablet {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      width: 100vw;
      height: calc(100vh - $spacing-lg);
      padding: 4 * $spacing-lg 0 $spacing-base $spacing-base;
      background: $background-color;

      @media (prefers-color-scheme: dark) {
        background: $background-color-invert;
      }
    }
  }

  &__close-button {
    position: absolute;
    top: 6rem;
    right: $spacing-lg;
    display: none;
    z-index: 4;

    @include bpk-breakpoint-tablet {
      display: inherit;
    }
  }
}
