@import '~utils/tokens';

.api-docs {
  &__table {
    width: 100%;
  }

  &__description {
    display: inline-block;
    width: 15rem;
  }

  &__method {
    display: inline-block;
    width: 3.4rem;
  }
}
