@import '~utils/tokens';

.forms {
  &__component {
    margin-bottom: 1rem;

    &__text-box {
      width: 100%;
      box-sizing: border-box;
    }

    &__button {
      margin-top: 1rem;
    }

    &--inline {
      width: 15rem;
      margin-right: 1rem;
      margin-left: 1rem;
    }

    &__label {
      margin: 0 0 0 0.1rem;
      color: $not-black;
      font-size: 0.8rem;
      font-style: italic;
      font-weight: bold;

      @media (prefers-color-scheme: dark) {
        color: $not-black-invert;
      }
    }
  }

  // Useful if you need to style a third-party form input (eg stripe component)
  &__bpk-input {
    height: 2rem;
    padding: 0.5rem;
    border: 1px #b2b2bf solid;
    border-radius: 0.25rem;
    background-color: white;
    font-size: 1rem;
    cursor: auto;
  }
}
